<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Créditos</h1>
        </header>
        <section class="credits">
            <div class="credit-item">
                <img src="luca.png" alt="luca" class="luca">
                <div class="credit-info">
                    <h2>Luca Urcioli</h2>
                    <p>Analista del backend y muchos otros roles llevados a cabo a lo largo del trabajo como desarrollador de lo visual.</p>
                </div>
            </div>
            <div class="credit-item">
                <img src="lewko" alt="lewko" class="lewko">
                <div class="credit-info">
                    <h2>Facundo Lewkowicz</h2>
                    <p>Desarrollador de lo que abarca lo visual en el proyecto y además en el backend.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>