@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenidos a los Juegos Olímpicos 2024</h1>
    <p class="lead">Descubre los deportes, atletas y países que hacen historia en los Juegos Olímpicos.</p>
    <hr class="my-4">
    <p>Explora nuestras secciones para conocer más sobre los deportes, países participantes y deportistas destacados.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Deportes", "Home")" role="button">Explorar Deportes</a>
</div>